In [1]:
import pandas as pd

In [2]:
v19_anno = pd.read_csv('/lmh_data/data/sclab/public/gencode.v19.annotation.gtf',
                       header=None, sep='\t', skiprows=[i for i in range(5)], usecols=[0, 2, 3, 4, 6, 8], names=[
                           'chrom', 'type', 'start', 'end', 'strand', 'info'
                       ])
v19_anno['gene_name'] = v19_anno['info'].str.extract(r'(gene_name ")(\w*)')[1]
v19_anno['transcript_name'] = v19_anno['info'].str.extract(r'(transcript_name ")(\S*)(")')[1]
v19_anno

,chrom,type,start,end,strand,info,gene_name,transcript_name
0,chr1,gene,11869,14412,+,"gene_id ""ENSG00000223972.4""; transcript_id ""EN...",DDX11L1,DDX11L1
1,chr1,transcript,11869,14409,+,"gene_id ""ENSG00000223972.4""; transcript_id ""EN...",DDX11L1,DDX11L1-002
2,chr1,exon,11869,12227,+,"gene_id ""ENSG00000223972.4""; transcript_id ""EN...",DDX11L1,DDX11L1-002
3,chr1,exon,12613,12721,+,"gene_id ""ENSG00000223972.4""; transcript_id ""EN...",DDX11L1,DDX11L1-002
4,chr1,exon,13221,14409,+,"gene_id ""ENSG00000223972.4""; transcript_id ""EN...",DDX11L1,DDX11L1-002
...,...,...,...,...,...,...,...,...
2619439,chrM,transcript,15888,15953,+,"gene_id ""ENSG00000210195.2""; transcript_id ""EN...",MT,MT-TT-201
2619440,chrM,exon,15888,15953,+,"gene_id ""ENSG00000210195.2""; transcript_id ""EN...",MT,MT-TT-201
2619441,chrM,gene,15956,16023,-,"gene_id ""ENSG00000210196.2""; transcript_id ""EN...",MT,MT-TP
2619442,chrM,transcript,15956,16023,-,"gene_id ""ENSG00000210196.2""; transcript_id ""EN...",MT,MT-TP-201
2619443,chrM,exon,15956,16023,-,"gene_id ""ENSG00000210196.2""; transcript_id ""EN...",MT,MT-TP-201

In [3]:
v19_anno['transcript_type'] = v19_anno['info'].str.extract(r'(transcript_type ")(\S*)(")')[1]
v19_anno

,chrom,type,start,end,strand,info,gene_name,transcript_name,transcript_type
0,chr1,gene,11869,14412,+,"gene_id ""ENSG00000223972.4""; transcript_id ""EN...",DDX11L1,DDX11L1,pseudogene
1,chr1,transcript,11869,14409,+,"gene_id ""ENSG00000223972.4""; transcript_id ""EN...",DDX11L1,DDX11L1-002,processed_transcript
2,chr1,exon,11869,12227,+,"gene_id ""ENSG00000223972.4""; transcript_id ""EN...",DDX11L1,DDX11L1-002,processed_transcript
3,chr1,exon,12613,12721,+,"gene_id ""ENSG00000223972.4""; transcript_id ""EN...",DDX11L1,DDX11L1-002,processed_transcript
4,chr1,exon,13221,14409,+,"gene_id ""ENSG00000223972.4""; transcript_id ""EN...",DDX11L1,DDX11L1-002,processed_transcript
...,...,...,...,...,...,...,...,...,...
2619439,chrM,transcript,15888,15953,+,"gene_id ""ENSG00000210195.2""; transcript_id ""EN...",MT,MT-TT-201,Mt_tRNA
2619440,chrM,exon,15888,15953,+,"gene_id ""ENSG00000210195.2""; transcript_id ""EN...",MT,MT-TT-201,Mt_tRNA
2619441,chrM,gene,15956,16023,-,"gene_id ""ENSG00000210196.2""; transcript_id ""EN...",MT,MT-TP,Mt_tRNA
2619442,chrM,transcript,15956,16023,-,"gene_id ""ENSG00000210196.2""; transcript_id ""EN...",MT,MT-TP-201,Mt_tRNA
2619443,chrM,exon,15956,16023,-,"gene_id ""ENSG00000210196.2""; transcript_id ""EN...",MT,MT-TP-201,Mt_tRNA

In [4]:
v19_anno['transcript_type'].unique()

array(['pseudogene', 'processed_transcript',
       'transcribed_unprocessed_pseudogene', 'unprocessed_pseudogene',
       'lincRNA', 'miRNA', 'protein_coding', 'processed_pseudogene',
       'antisense', 'snRNA', 'retained_intron', 'nonsense_mediated_decay',
       'sense_intronic', 'misc_RNA', 'transcribed_processed_pseudogene',
       'snoRNA', 'non_stop_decay', 'rRNA', 'unitary_pseudogene',
       '3prime_overlapping_ncrna', 'polymorphic_pseudogene',
       'sense_overlapping', 'IG_V_gene', 'IG_C_gene', 'IG_J_gene',
       'IG_V_pseudogene', 'TR_C_gene', 'TR_J_gene', 'TR_V_gene',
       'TR_V_pseudogene', 'IG_C_pseudogene', 'TR_D_gene',
       'TR_J_pseudogene', 'translated_processed_pseudogene',
       'IG_J_pseudogene', 'IG_D_gene', 'Mt_tRNA', 'Mt_rRNA'], dtype=object)

In [5]:
def test(genes):
    filter_genes_info = v19_anno[
        (v19_anno['transcript_type']=='protein_coding')&
        (v19_anno['gene_name'].isin(genes))&
        (v19_anno['type']=='gene')
    ]
    print(filter_genes_info.shape)

In [6]:
# PDGFRA_body
test(['KCNIP4', 'MALAT1', 'LHFPL3', 'LRRC4C', 'CSMD1', 'PCDH9', 'ERBB4', 'NRXN1', 'DMD', 'IL1RAPL1', 'XIST', 'LSAMP', 'SOX2-OT', 'GRIA2', 'GRM5', 'TNR', 'PTPRG', 'PDZD2', 'GRIA4', 'NTM', 'GALNT13', 'NPAS3', 'SHISA9', 'MARCH1', 'NTRK2', 'PHF14', 'ZSWIM6', 'PTPRZ1', 'GPM6A', 'NFIB', 'PCDH15', 'ANKS1B', 'SOX5', 'NEGR1', 'TMEM108', 'ANK2', 'SLC8A1', 'SPOCK3', 'PDE4B', 'CALM2', 'FGF14', 'LPPR1', 'MAPK10', 'NAV1', 'IL1RAP', 'FHIT', 'NLGN4X', 'PDE4D', 'KAZN', 'FAM155A', 'GPC6', 'DOCK4', 'COL9A1', 'PTPRD', 'ZNF521', 'CPE', 'OLIG1', 'SEZ6L', 'ANK3', 'MAGI2', 'LRFN5', 'DNER', 'GLCCI1', 'PSD3', 'ASTN2', 'DCAF6', 'SORCS1', 'FGF12', 'XYLT1', 'GRID2', 'RGS7', 'TJP1', 'ALCAM', 'NCAM2', 'CTTNBP2', 'GRM7', 'FTH1', 'GUCY1A2', 'FAF1', 'PLXDC2', 'SEMA6A', 'FBXL17', 'OPCML', 'ZNF638', 'MEIS2', 'NOL4', 'TCF12', 'ZFPM2', 'DNM3', 'PPFIA2', 'AGAP1', 'NLGN1', 'LPP', 'ADARB2', 'ZHX3', 'PHACTR3', 'SIK3', 'CCSER1', 'GSK3B', 'PRTFDC1'])

(97, 9)

In [7]:
# PDGFRA_promoter
test(['KCNIP4', 'LHFPL3', 'MALAT1', 'NRXN1', 'CSMD1', 'PCDH9', 'LRRC4C', 'ERBB4', 'PCDH15', 'LSAMP', 'XIST', 'TNR', 'DMD', 'IL1RAPL1', 'GRIA2', 'NPAS3', 'NTM', 'MARCH1', 'GRM5', 'SOX2-OT', 'GALNT13', 'GRIA4', 'NTRK2', 'NFIB', 'GPM6A', 'ANK2', 'PTPRZ1', 'ANKS1B', 'ASTN2', 'FGF14', 'NEGR1', 'SHISA9', 'KAZN', 'DOCK4', 'MAGI2', 'ZSWIM6', 'SLC8A1', 'LPPR1', 'SPOCK3', 'SOX5', 'PDZD2', 'IL1RAP', 'PTPRD', 'PDE4B', 'GPC6', 'NLGN1', 'ZNF521', 'FAM155A', 'PDE4D', 'OPCML', 'NLGN4X', 'CPE', 'CLASP2', 'FHIT', 'SCD5', 'KCNMB2', 'PHF14', 'GRM7', 'RGS7', 'DNER', 'SEZ6L', 'HIP1', 'PPP1R12A', 'SLC44A5', 'TMEM132C', 'MAPK10', 'GRID2', 'TMEM108', 'TJP1', 'SORCS1', 'RFTN2', 'GSK3B', 'CTTNBP2', 'VCAN', 'NCAM2', 'N4BP2L2', 'PSD3', 'ANKRD17', 'PREX2', 'COL9A1', 'SIK3', 'SORBS2', 'JMJD1C', 'PLXDC2', 'CCSER1', 'PPFIA2', 'AGAP1', 'DPP10', 'PTPRG', 'RIT2', 'ZNF638', 'NFIA', 'XYLT1', 'SNTG1', 'CPEB4', 'LRFN5', 'KLHL13', 'ZHX3', 'CST3', 'RIN2'])

(97, 9)

In [8]:
# PDGFRA_different
test(['RIN2', 'TMEM132C', 'KCNMB2', 'HIP1', 'CLASP2', 'JMJD1C', 'RFTN2', 'ANKRD17', 'SLC44A5', 'PPP1R12A', 'SCD5', 'SNTG1', 'VCAN', 'PREX2', 'N4BP2L2', 'RIT2', 'NFIA', 'SORBS2', 'DPP10', 'CST3', 'CPEB4', 'KLHL13'])

(22, 9)